<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:text-decoration="http://www.w3.org/1999/xhtml">
<head>
    <title>Toakuten</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>

<div class="main-wrap">
    <!-- Toggle sidebar -->
    <input type="checkbox" id="toggle"/>

    <div class="sidebar">
        <label for="toggle"><span id="close">Stäng</span></label>

        <div class ="address"></div>
        <div class ="changingtable"></div>
        <div class ="mustpay"></div>
        <div class ="ishandicap"></div>
        <div class ="hours"></div>
        <br/>
        <a class ="destination"></a>

        <!--<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <img src="pictures\gruppbild.png" alt="gruppbild"/> -->

        <!-- /wrapper -->
    </div>
    <div class="portfolio">

        <header>
            <figure>
                <img src="pictures\headerbild.png" alt="headerbild"/>
            </figure>
        </header>

        <div id="map"></div>
        <script src="/jquery-3.2.1.js"></script>
        <script src="/testmap.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUh1v05Ve5mkR0CPUor23IAhFDCwi9OE4&amp;callback=initMap"></script>

    </div>
</div>
</body>
</html>

