<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Toakuten</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<!-- Toggle sidebar -->
<div class="main-wrap">

    <input id="slide-sidebar" type="checkbox" role="button"/>
    <label for="slide-sidebar"><span>mer info</span></label>
    <div class="sidebar">
        <h1>Information</h1>
        <div class ="address"></div>
        <div class ="changingtable"></div>
        <div class ="mustpay"></div>
        <div class ="ishandicap"></div>
        <div class ="hours"></div>
    </div>
    <div class="portfolio">
        <header>
            <figure>
                <img src="pictures\headerbild.png" alt="headerbild"/>
            </figure>
        </header>
        <!-- /wrapper -->
        <div id="map"></div>
        <script src="/jquery-3.2.1.js"></script>
        <script src="/testmap.js"></script>
        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUh1v05Ve5mkR0CPUor23IAhFDCwi9OE4&amp;callback=initMap"></script>

    </div>
</div>


</body>
</html>

